In [1]:
# Генератор процесса
# всего: A B C D E F
# правильный: B C D

In [2]:
import random
from datetime import datetime, timedelta
import pandas as pd

In [3]:
min_len, max_len = 3, 5    # мин. и макс. длина процесса
n_total = 1000           # всего кейсов
p_correct = 0.6         # доля правильных
min_date, max_date = datetime(2018, 1, 1), datetime(2021, 1, 1)

In [4]:
spread = int((max_date - min_date).total_seconds())

In [5]:
stages = ['A', 'B', 'C', 'D', 'E', 'F']
correct_seq = ['B', 'C', 'D']

In [6]:
n_correct = int(p_correct * n_total)
n_incorrect = n_total - n_correct
n_total, n_correct, n_incorrect

(1000, 600, 400)

In [7]:
# генерация последовательностей

list_incorrect = []

for i in range(n_incorrect):
    curr_len = random.randint(min_len, max_len)
    curr_seq = random.choices(stages, k=curr_len)
    list_incorrect.append(curr_seq)
    
list_all = [correct_seq] * n_correct    
list_all.extend(list_incorrect)

In [8]:
# генерация лога

entries = []

for case_id, seq in enumerate(list_all, 1):

    #
    len_seq = len(seq)
    
    # генерировать случайные даты

    offsets = sorted([random.randint(0, spread) for i in range(len_seq)])
    timestamps = [min_date + timedelta(seconds=offset) for offset in offsets]
    
    #генерировать записи для одной последовательности
    for stage, dt in zip(seq, timestamps):
        entry = [case_id, stage, dt]
        entries.append(entry)

In [9]:
len(entries)

3398

In [10]:
df = pd.DataFrame(entries, columns=['case', 'stage', 'timestamp'])
df = df.sort_values(by='timestamp').reset_index(drop=True)
df.shape

(3398, 3)

In [11]:
df.head()

   case stage           timestamp
0   570     B 2018-01-01 02:42:25
1   540     B 2018-01-01 05:50:37
2   906     A 2018-01-01 12:43:39
3   655     C 2018-01-01 14:27:58
4   911     D 2018-01-02 17:59:59

In [12]:
df.to_csv('process_log.csv', index=False)

In [13]:
df.groupby('case').size().sort_values()

case
1       3
485     3
486     3
487     3
488     3
       ..
800     5
804     5
806     5
902     5
1000    5
Length: 1000, dtype: int64

In [14]:
df[df['case'] == 1]

      case stage           timestamp
401      1     B 2018-05-16 06:37:22
821      1     C 2018-09-14 08:19:28
2251     1     D 2019-12-22 15:15:49